<!doctype html>
<html>
  <head>
     
    <script src="js/angular.min.js"></script> 
    
    <meta charset="utf-8" />
  </head>
  <body >
    <div ng-app="journalingApp" ng-controller="journalingController">
      <form ng-submit="addRow()">
        Date: <input type="text" ng-model="theEntryDate"><br/>
        Transaction: <input type="text" ng-model="theTransaction" /><br/>
        
        <input type="submit" value="Add Transaction">
      </form>
      <br/>
      <table class="table" border="1">
        <tr>
          <th>Date
          </th>
          <th>Transaction
          </th>
        </tr>
        <tr ng-repeat="transaction in Transactions">
          <td>{{transaction.date}}
          </td>
          <td>{{transaction.name}}
          </td>
          <td>
            <button ng-click="removeRow(transaction.id)">remove</button>
          </td>
        </tr>
      </table>
      
      <form ng-submit="addEntry()">
        Date: <input type="text" ng-model="eDate"><br/>
        Account: <input type="text" ng-model="eAccount"><br/>
        Amount: <input type="text" ng-model="eAmount">
        <select ng-model="eType.napili">
          <option ng-repeat="listahan in eType.pagpipilian" value="{{listahan.val}}">{{listahan.show}}</option>
        </select><br/>
        <input type="submit" value="Add Entry">
      </form>
      <br/>
      <table class="table" border="1">
        <tr>
          <th>Date
          </th>
          <th>Account
          </th>
          <th>Debit
          </th>
          <th>Credit
          </th>
        </tr>
        <tr ng-repeat="entry in Entries">
          <td>{{entry.date}}
          </td>
          <td>{{entry.account}}
          </td>
          <td ng-if="entry.type == 'credit'">
          </td>
          <td ng-if="entry.type == 'credit'">{{entry.amount}}
          </td>
          <td ng-if="entry.type == 'debit'">{{entry.amount}}
          </td>
          <td ng-if="entry.type == 'debit'">
          </td>
          <td>
            <button ng-click="removeEntry(entry.id)">remove</button>
          </td>
        </tr>
      </table>
      
      <button ng-click="generateAccounts()">generate ledger accounts</button>
      <br />
      <table class="table" border="1" ng-repeat="lAccount in generatedAccounts">
        <tr><td colspan="2">{{lAccount}}</td></tr>
        <tr ng-if="lAccount != ''">
          <td ng-init="getDebits(lAccount);" ng-bind-html="jDebits[lAccount] | trust"></td>
        </tr>
      </table>
    </div>
    <script>
      var app = angular.module('journalingApp', []);
      app.controller('journalingController', function($scope,$http) {
          // Transactions start --------------
          $scope.Transactions = [];
          
          $scope.getRow = function(){
            $http.get("getEvent.php")
            .then(function (response) {$scope.Transactions = response.data.records;});
          };
          
          $scope.addRow = function(){		
            
            $http.post("insertEvent.php", {
              'jdate':$scope.theEntryDate,
              'jname':$scope.theTransaction
            }).success(function(data,status,headers,config){
              console.log("Data Inserted Successfully");
              $scope.getRow();
            });
            
            $scope.theEntryDate='';
            $scope.theTransaction='';
          };
          
          $scope.removeRow = function(toRemove){	
            for(var i = 0; i < $scope.Transactions.length; i++){
              if(toRemove === $scope.Transactions[i].id){
                $scope.Transactions.splice(i,1);
              }
            }
            
            $http.post("removeEvent.php", {
              'jToRemove':toRemove
            }).success(function(data,status,headers,config){
              console.log("Removed Successfully");
            });
          };
          
          $scope.getRow();
          // Transactions end --------------
          
          // Entries start --------------
          $scope.Entries = [];
          
          $scope.getEntries = function(){
            $http.get("getEntries.php")
            .then(function (response) {$scope.Entries = response.data.records;});
          };
          
          $scope.eType = {
            'napili': null,
            'pagpipilian':[
              {'val':'credit', 'show':'To Credit'},
              {'val':'debit', 'show':'To Debit'}
            ]
          };
          
          $scope.addEntry = function(){
            $http.post("insertEntry.php", {
              'edate':$scope.eDate,
              'eaccount':$scope.eAccount,
              'eamount':$scope.eAmount,
              'etype':$scope.eType.napili
            }).success(function(data,status,headers,config){
              console.log("Entry Inserted Successfully");
              $scope.getEntries();
            });
            
            $scope.eDate = '';
            $scope.eAccount = '';
            $scope.eAmount = '';
            $scope.eType.napili = null;
          };
          
          $scope.removeEntry = function(toRemove){	
            for(var i = 0; i < $scope.Entries.length; i++){
              if(toRemove === $scope.Entries[i].id){
                $scope.Entries.splice(i,1);
              }
            }
            
            $http.post("removeEntry.php", {
              'eToRemove':toRemove
            }).success(function(data,status,headers,config){
              console.log("Removed Successfully");
            });
          };
          
          $scope.getEntries();
          // Entries end --------------
          
          // journal accounts start --------------
          $scope.generatedAccounts = [];
          $scope.generateAccounts = function(){
            $http.get("generateAccounts.php")
            .then(function (response) {
              $scope.generatedAccounts = response.data.records;
              $scope.jDebits = [];
            });
            
          };
          
          $scope.getDebits = function(accountToFind){
            $http.post("getDebits.php", {
              'aToFind':accountToFind
            }).success(function(data,status,headers,config){
              $scope.jDebits[accountToFind] = data.records;
              
            });
          };
          // journal accounts end --------------
      });
      app.filter("trust", ['$sce', function($sce) {
        return function(htmlCode){
          return $sce.trustAsHtml(htmlCode);
        }
      }]);
      
    </script>
    
  </body>
</html>